@model XReports.Demos.MVC.Models.Shared.ReportViewModel

@{
    ViewBag.Title = "3-Color Heatmap";
    Layout = "_DemoPageLayout";
}

<a asp-action="Download">Download</a>

@section Description
{
    <p>In current implementation we highlight values closer to 0 in red, to 50 - in yellow, closer to 100 - green.</p>
}

@section ReportTable
{
@Html.Raw(Model.ReportTableHtml)
}

@section Code
{
    class ThreeColorHeatmapProperty : ReportCellProperty
    {
        private readonly decimal minimumValue;
        private readonly Color minimumColor;
        private readonly decimal middleValue;
        private readonly Color middleColor;
        private readonly decimal maximumValue;
        private readonly Color maximumColor;

        public ThreeColorHeatmapProperty(decimal minimumValue, Color minimumColor, decimal middleValue, Color middleColor, decimal maximumValue, Color maximumColor)
        {
            this.minimumValue = minimumValue;
            this.minimumColor = minimumColor;
            this.middleValue = middleValue;
            this.middleColor = middleColor;
            this.maximumValue = maximumValue;
            this.maximumColor = maximumColor;
        }

        public Color GetColorForValue(decimal value)
        {
            if (value &lt; this.middleValue)
            {
                return this.GetColorForValue(value, this.minimumValue, this.minimumColor, this.middleValue, this.middleColor);
            }
            else
            {
                return this.GetColorForValue(value, this.middleValue, this.middleColor, this.maximumValue, this.maximumColor);
            }
        }

        private Color GetColorForValue(decimal value, decimal min, Color minColor, decimal max, Color maxColor)
        {
            decimal valueDelta = max - min;
            decimal valuePercentage = (value - min) / valueDelta;

            byte cellRed = this.GetProportionalValue(valuePercentage, minColor.R, maxColor.R);
            byte cellGreen = this.GetProportionalValue(valuePercentage, minColor.G, maxColor.G);
            byte cellBlue = this.GetProportionalValue(valuePercentage, minColor.B, maxColor.B);

            return Color.FromArgb(cellRed, cellGreen, cellBlue);
        }

        private byte GetProportionalValue(decimal valuePercentage, byte min, byte max)
        {
            return (byte)(min + (valuePercentage * (max - min)));
        }
    }

    class ThreeColorHeatmapPropertyHtmlHandler : SingleTypePropertyHandler&lt;ThreeColorHeatmapProperty, HtmlReportCell&gt;
    {
        protected override void HandleProperty(ThreeColorHeatmapProperty property, HtmlReportCell cell)
        {
            decimal value = cell.GetValue&lt;decimal&gt;();

            cell.Styles.Add("background-color", ColorTranslator.ToHtml(property.GetColorForValue(value)));
        }
    }

    class ThreeColorHeatmapPropertyExcelHandler : SingleTypePropertyHandler&lt;ThreeColorHeatmapProperty, ExcelReportCell&gt;
    {
        protected override void HandleProperty(ThreeColorHeatmapProperty property, ExcelReportCell cell)
        {
            decimal value = cell.GetValue&lt;decimal&gt;();
            cell.BackgroundColor = property.GetColorForValue(value);
        }
    }
}
