@model XReports.Demos.FromDb.ViewModels.ReportViewModel

@{
    ViewBag.Title = "Model Based Report";
    Layout = "_Layout";
}

<h2>Orders Details</h2>

<a asp-action="DownloadOrdersDetails">Download</a>

@Html.Raw(Model.ReportHtml)
