@model XReports.Demos.FromDb.Controllers.ModelBasedReportController.ReportViewModel

@{
    ViewBag.Title = "Model Based Report";
    Layout = "_Layout";
}

<h2>Products</h2>

<a asp-action="DownloadProducts">Download</a>

@Html.Raw(Model.ReportHtml)
