@model Reports.Demos.MVC.Controllers.HorizontalReports.ComplexHeaderHorizontalReportController.ViewModel

@{
    ViewBag.Title = "Horizontal - Complex Header";
    Layout = "_DemoPageLayout";
}

<a asp-action="Download">Download</a>

@section Description
{
    <p>Example of horizontal report with complex header.</p>
}

@section ReportTable
{
@Html.Raw(Model.ReportTableHtml)
}

@section Code
{
}
