@model XReports.Demos.MVC.Models.Shared.ReportViewModel

@{
    ViewBag.Title = "Horizontal - Complex Header";
    Layout = "_DemoPageLayout";
}

<a asp-action="Download">Download</a>

@section Description
{
    <p>Example of horizontal report with complex header.</p>
}

@section ReportTable
{
@Html.Raw(Model.ReportTableHtml)
}

@section Code
{
    ReportCellProperty centerAlignment = new AlignmentProperty(Alignment.Center);
    BoldProperty bold = new BoldProperty();

    ReportSchemaBuilder&lt;Entity&gt; reportBuilder = new ReportSchemaBuilder&lt;Entity&gt;();
    reportBuilder.AddGlobalProperties(centerAlignment);
    reportBuilder
        .AddColumn("Metrics", e =&gt; e.Name)
        .AddProperties(centerAlignment)
        .AddHeaderProperties(centerAlignment);
    reportBuilder.AddColumn("Age", e =&gt; e.Age)
        .AddHeaderProperties(bold);
    reportBuilder.AddColumn("Min. Score", e =&gt; e.MinScore);
    reportBuilder.AddColumn("Max. Score", e =&gt; e.MaxScore);
    reportBuilder.AddColumn("Avg. Score", e =&gt; e.AverageScore)
        .AddProperties(new DecimalPrecisionProperty(2));

    reportBuilder.AddComplexHeader(0, "Score", "Min. Score", "Avg. Score");
    reportBuilder.AddComplexHeaderProperties("Score", new ColorProperty(Color.Blue));

    IReportTable&lt;ReportCell&gt; reportTable = reportBuilder.BuildHorizontalSchema(1)
        .BuildReportTable(GetData());
}
