@model XReports.Demos.MVC.Models.Shared.ReportViewModel

@{
    ViewBag.Title = "Horizontal - Complex Header";
    Layout = "_DemoPageLayout";
}

<a asp-action="Download">Download</a>

@section Description
{
    <p>Example of horizontal report with complex header.</p>
}

@section ReportTable
{
@Html.Raw(Model.ReportTableHtml)
}

@section Code
{
    ReportCellProperty centerAlignment = new AlignmentProperty(Alignment.Center);
    BoldProperty bold = new BoldProperty();

    HorizontalReportSchemaBuilder&lt;Entity&gt; reportBuilder = new HorizontalReportSchemaBuilder&lt;Entity&gt;();
    reportBuilder.AddGlobalProperties(centerAlignment);
    reportBuilder
        .AddHeaderRow("Metrics", e => e.Name)
        .AddProperties(centerAlignment)
        .AddHeaderProperties(centerAlignment);
    reportBuilder.AddRow("Age", e => e.Age)
        .AddHeaderProperties(bold);
    reportBuilder.AddRow("Min. Score", e => e.MinScore);
    reportBuilder.AddRow("Max. Score", e => e.MaxScore);
    reportBuilder.AddRow("Avg. Score", e => e.AverageScore)
        .AddProperties(new DecimalPrecisionProperty(2));

    reportBuilder.AddComplexHeader(0, "Score", "Min. Score", "Avg. Score");
    reportBuilder.AddComplexHeaderProperties("Score", new ColorProperty(Color.Blue));
}
