@{
    ViewData["Title"] = "Home Page";
}

<h1 class="text-center">Welcome</h1>
<p>This site is demonstrating some features of XReports library.</p>
<p>Each page contain code block that was used to achieve the result.</p>
