@model XReports.Demos.MVC.Models.Shared.ReportViewModel

@{
    ViewBag.Title = "Horizontal";
    Layout = "_DemoPageLayout";
}

<a asp-action="Download">Download</a>

@section Description
{
    <p>Example of horizontal report.</p>
}

@section ReportTable
{
@Html.Raw(Model.ReportTableHtml)
}

@section Code
{
    private IReportTable&lt;ReportCell&gt; BuildReport()
    {
        ReportCellProperty centerAlignment = new AlignmentProperty(AlignmentType.Center);
        IndentationProperty indentation = new IndentationProperty();

        HorizontalReportBuilder&lt;Entity&gt; reportBuilder = new HorizontalReportBuilder&lt;Entity&gt;();

        reportBuilder.AddGlobalProperties(centerAlignment);

        reportBuilder
            .AddHeaderRow(string.Empty, e => e.Name)
            .AddProperties(centerAlignment);
        reportBuilder.AddRow("Age", e => e.Age)
            .AddHeaderProperties(bold);
        reportBuilder.AddRow(new EmptyCellsProvider&lt;Entity&gt;("Score"))
            .AddHeaderProperties(bold);
        reportBuilder.AddRow("Min. Score", e => e.MinScore)
            .AddHeaderProperties(indentation);
        reportBuilder.AddRow("Max. Score", e => e.MaxScore)
            .AddHeaderProperties(indentation);
        reportBuilder.AddRow("Avg. Score", e => e.AverageScore)
            .AddHeaderProperties(indentation)
            .AddProperties(new DecimalPrecisionProperty(2));

        return reportBuilder.Build(this.GetData());
    }
}
