@{
    ViewData["Title"] = "Home Page";
}

<h1 class="text-center">Welcome</h1>
<p>This site is demonstrating some features of Reports library.</p>
<p>Each page contain code block that was used to achieve the result. Code to build report, to add properties etc. is not shown for brevity's sake.</p>
