@model Reports.Demos.MVC.Controllers.StringWriterExtensions.CustomTableClassController.ViewModel

@{
    ViewBag.Title = "Add Bootstrap class to table";
    Layout = "_DemoPageLayout";
}

@section Description
{
    <p>Default StringWriter class creates table tag with no attributes. We can extend it to add Bootstrap 4 class.</p>
}

@section ReportTable
{
<h3>Regular</h3>
@Html.Raw(Model.RegularTableHtml)
<h3>Bootstrap</h3>
@Html.Raw(Model.TableHtml)
}

@section Code
{
    public class BootstrapStringWriter : StringWriter
    {
        protected override async Task BeginTableAsync()
        {
            await this.WriteTextAsync(@@"&lt;table class=""table table-sm""&gt;");
        }
    }
}
