@model XReports.Demos.Models.Shared.ReportViewModel

@{
    ViewBag.Title = "Replace Empty Cells";
    Layout = "_DemoPageLayout";
}

<a asp-action="Download">Download</a>

@section Description
{
    <p>Using one simple property we can display mock text when cell does not have value.</p>
}

@section ReportTable
{
@Html.Raw(Model.ReportTableHtml)
}

@section Code
{
    class ReplaceEmptyProperty : IReportCellProperty
    {
        public ReplaceEmptyProperty(string text)
        {
            this.Text = text;
        }

        public string Text { get; }
    }

    class CustomFormatPropertyHtmlHandler : PropertyHandler&lt;ReplaceEmptyProperty, HtmlReportCell&gt;
    {
        protected override void HandleProperty(ReplaceEmptyProperty property, HtmlReportCell cell)
        {
            if (string.IsNullOrEmpty(cell.GetValue&lt;string&gt;()))
            {
                cell.SetValue(property.Text);
            }
        }
    }

    class CustomFormatPropertyExcelHandler : PropertyHandler&lt;ReplaceEmptyProperty, ExcelReportCell&gt;
    {
        protected override void HandleProperty(ReplaceEmptyProperty property, ExcelReportCell cell)
        {
            if (string.IsNullOrEmpty(cell.GetValue&lt;string&gt;()))
            {
                cell.SetValue(property.Text);
            }
        }
    }

    ReportSchemaBuilder&lt;Entity&gt; reportBuilder = new ReportSchemaBuilder&lt;Entity&gt;();
    reportBuilder.AddColumn("First Name", e =&gt; e.FirstName);
    reportBuilder.AddColumn("Last Name", e =&gt; e.LastName);
    reportBuilder.AddColumn("Email", e =&gt; e.Email)
        .AddProperties(new ReplaceEmptyProperty("-"));
    reportBuilder.AddColumn("Score", e =&gt; e.Score)
        .AddProperties(new ReplaceEmptyProperty("(no score)"));
}
