@model XReports.Demos.MVC.Models.Shared.ReportViewModel

@{
    ViewBag.Title = "Custom Format";
    Layout = "_DemoPageLayout";
}

<a asp-action="Download">Download</a>

@section Description
{
    <p>Custom properties may also be assigned to header cells.</p>
}

@section ReportTable
{
@Html.Raw(Model.ReportTableHtml)
}

@section Code
{
ReportSchemaBuilder&lt;Entity&gt; reportBuilder = new ReportSchemaBuilder&lt;Entity&gt;();
reportBuilder.AddColumn("Name", e => e.Name)
    .AddHeaderProperties(new AlignmentProperty(Alignment.Right));
reportBuilder.AddColumn("Email", e => e.Email)
    .AddHeaderProperties(new ColorProperty(Color.Blue));
reportBuilder.AddColumn("Score", e => e.Score)
    .AddHeaderProperties(new AlignmentProperty(Alignment.Center));
}
