@model XReports.Demos.MVC.Models.Shared.ReportViewModel

@{
    ViewBag.Title = "Custom Format";
    Layout = "_DemoPageLayout";
}

<a asp-action="Download">Download</a>

@section Description
{
    <p>Custom properties may also be assigned to header cells.</p>
    <p>In this example we use properties from Reports.Extensions.Properties package.</p>
}

@section ReportTable
{
@Html.Raw(Model.ReportTableHtml)
}

@section Code
{
VerticalReportBuilder&lt;Entity&gt; reportBuilder = new VerticalReportBuilder&lt;Entity&gt;();
reportBuilder.AddColumn("Name", e => e.Name);
reportBuilder.AddColumn("Email", e => e.Email);
reportBuilder.AddColumn("Score", e => e.Score);

reportBuilder.AddHeaderProperty("Name", new AlignmentProperty(Alignment.Right));
reportBuilder.AddHeaderProperty("Email", new ColorProperty(Color.Blue));
reportBuilder.AddHeaderProperty("Score", new AlignmentProperty(Alignment.Center));
}
