@model XReports.Demos.MVC.Models.StringWriterExtensions.CustomTableClass.IndexViewModel

@{
    ViewBag.Title = "Add Bootstrap class to table";
    Layout = "_DemoPageLayout";
}

@section Description
{
    <p>Default StringWriter class creates table tag with no attributes. We can extend it to add Bootstrap 4 class.</p>
}

@section ReportTable
{
<h3>Regular</h3>
@Html.Raw(Model.RegularTableHtml)
<h3>Bootstrap</h3>
@Html.Raw(Model.TableHtml)
}

@section Code
{
    public class BootstrapHtmlStringWriter : HtmlStringWriter
    {
        public BootstrapHtmlStringWriter(IHtmlStringCellWriter htmlStringCellWriter)
            : base(htmlStringCellWriter)
        {
        }

        protected override void BeginTable(StringBuilder stringBuilder)
        {
            stringBuilder.Append(@@"&lt;table class=""table table-sm""&gt;");
        }

        protected override void BeginHead(StringBuilder stringBuilder)
        {
            stringBuilder.Append(@@"&lt;thead class=""thead-dark""&gt;");
        }
    }
}
