@model Reports.Demos.FromDb.Controllers.ModelBasedReportController.ReportViewModel

@{
    ViewBag.Title = "Model Based Report";
    Layout = "_Layout";
}

<h2>Users</h2>

<a asp-action="DownloadUsers">Download</a>

@Html.Raw(Model.ReportHtml)
