@model XReports.Demos.MVC.Controllers.CustomProperties.ReplaceEmptyController.ViewModel

@{
    ViewBag.Title = "Replace Empty Cells";
    Layout = "_DemoPageLayout";
}

<a asp-action="Download">Download</a>

@section Description
{
    <p>Using one simple property we can display mock text when cell does not have value.</p>
}

@section ReportTable
{
@Html.Raw(Model.ReportTableHtml)
}

@section Code
{
    class ReplaceEmptyProperty : ReportCellProperty
    {
        public string Text { get; }

        public ReplaceEmptyProperty(string text)
        {
            this.Text = text;
        }
    }

    class CustomFormatPropertyHtmlHandler : SingleTypePropertyHandler&lt;ReplaceEmptyProperty, HtmlReportCell&gt;
    {
        protected override void HandleProperty(ReplaceEmptyProperty property, HtmlReportCell cell)
        {
            if (string.IsNullOrEmpty(cell.GetValue&lt;string&gt;()))
            {
                cell.Value = property.Text;
            }
        }
    }

    class CustomFormatPropertyExcelHandler : SingleTypePropertyHandler&lt;ReplaceEmptyProperty, ExcelReportCell&gt;
    {
        protected override void HandleProperty(ReplaceEmptyProperty property, ExcelReportCell cell)
        {
            if (string.IsNullOrEmpty(cell.GetValue&lt;string&gt;()))
            {
                cell.Value = property.Text;
            }
        }
    }

    VerticalReportBuilder&lt;Entity&gt; reportBuilder = new VerticalReportBuilder&lt;Entity&gt;();
    reportBuilder
        .AddColumn("First Name", e => e.FirstName)
        .AddColumn("Last Name", e => e.LastName)
        .AddColumn("Email", e => e.Email)
        .AddProperties(new ReplaceEmptyProperty("-"));
    reportBuilder.AddColumn("Score", e => e.Score)
        .AddProperties(new ReplaceEmptyProperty("(no score)"));
}
