@{
    ViewBag.Title = "Border";
    Layout = "_DemoPageLayout";
}

<a asp-action="Download">Download</a>

@section Description
{
    <p>EppluWriter class only writes data and formats. If we want to add border, for example, we may extend EpplusWriter.</p>
    <p>Click Download link to see result.</p>
}

@section ReportTable
{
}

@section Code
{
    class BorderExcelWriter : EpplusWriter
    {
        protected override void PostCreate(ExcelWorksheet worksheet, ExcelAddress headerAddress, ExcelAddress bodyAddress)
        {
            base.PostCreate(worksheet, headerAddress, bodyAddress);

            // Border around each header cell.
            Border headerBorder = worksheet.Cells[headerAddress.Address].Style.Border;
            headerBorder.Bottom.Style = headerBorder.Left.Style =
                headerBorder.Top.Style = headerBorder.Right.Style = ExcelBorderStyle.Thin;

            // Border around all body cells.
            worksheet.Cells[bodyAddress.Address].Style.Border.BorderAround(ExcelBorderStyle.Thin);
        }
    }
}
